@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #edc84b;
  min-height: 100vh;
  max-width: 100vw;
  padding-bottom: 6rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.navBar{
  margin-bottom: 5rem;
  width: 99vw;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
}

/* *************** */

.header {
  align-self: stretch;
}

.header h1::before,
.header h1::after {
  display: block;
  content: '';
  height: 3rem;
  width: 4rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

/* *************** */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}



/* *************** */

.footer {
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}

/***************************/

.profileContainer{
  margin: 5rem;
  padding: 1.5rem;
  max-width: 100%;
  background-color: #e9bb24;
  border-radius: 3rem;
}

.networkProfiles{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin-top: 1.5rem;
}

.profileImg{
  border-radius: 3rem;
}
.networkImg{
  height: 3rem;
  filter: brightness(0) saturate(0) contrast(100);
}

.profileText{
  margin-top: 1rem;
  font-size: 1rem;
  justify-content: space-evenly;
  text-align: center;
  line-height: 1.6;
  max-width: 35rem;
}

/*********************/

.moviesContainer{
  margin: 2rem;
  max-width: 32rem ;
  justify-content: space-evenly;
  text-align: center;
}

.moviesContainer section{
  display: flex;
}

.moviesContainer img{
  max-height: 15rem;
  border: #252525 solid .5rem;
}